



<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-offset-3">
      <%= simple_form_for profile do |f| %>
        <form class="row" method="post">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :first_name , class: "form-control" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :last_name , class: "form-control" %>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <%= f.input :address , class: "form-control" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.input :post_code , class: "form-control" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                  <%= f.input :city , class: "form-control" %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group">
                  <%= f.input :country , class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group">
                  <%= f.input :phone_number , class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <div class="form-group">
                  <%= f.input :birthday, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, order: [:day, :month, :year], class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <div class="form-group">
                  <%= f.input :biography , input_html: {style: 'height:200px;'}, class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group">
                  <%= f.input :photo, as: :attachinary, class: "form-control" %>
                </div>
              </div>
            </div>
          <div class="col-md-12  action-form-edit">
            <%= f.button :submit, class:"btn btn-primary" %>
            <br>
            <br>
          </div>
        </form>
      <% end %>
    </div>
  </div>
</div>




