
<% nofollow %>
<% noindex %>


<section class="dashboard__header">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <% if current_user.profile.photo.present? %>
          <%= cl_image_tag @profile.photo.path, class: "avatar-extra-large" %>
        <% else %>
          <%= cl_image_tag "http://res.cloudinary.com/dwkqph9as/image/upload/v1512050406/default_avatar_picture_zpo1in.png", class: "avatar-extra-large" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-8">
        <h1>Hello <%= @profile.first_name %> !</h1>
          <p>Happy Triber since <%= @profile.created_at.strftime("%m/%Y") %></p>
          <p><%= link_to 'Edit my profile', edit_profile_path(@profile), class: 'btn btn-rounded'%></p>
      </div>
  </div>
</section>

<section class="dashboard__mydetails margin-top-50">
  <div class="container">
    <div class="titre-profile">
      <h2>My Details </h2>
    </div>
      <hr>

    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <div class="mydetail1">
          <p><strong>First Name:</strong> <%= @profile.first_name%></p>
          <p><strong>Last Name:</strong> <%= @profile.last_name %></p>
          <p><strong>Birthday:</strong> <%= @profile.birthday %></p>
          <p><strong>Adress:</strong> <%= @profile.address %></p>
        </div>
      </div>

      <div class="col-md-5 col-md-offset-1">
        <div class="mydetail1">
          <p><strong>Post Code:</strong> <%= @profile.post_code%></p>
          <p><strong>City:</strong> <%= @profile.city %></p>
          <p><strong>Country:</strong> <%= @profile.country %></p>
          <p><strong>Phone Number:</strong> <%= @profile.phone_number%></p>
        </div>
      </div>

    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <p><strong>Biography:</strong> <%= @profile.biography%></p>
      </div>
    </div>
  </div>
</section>

<section class="dashboard__myjourney padding-top-50">
  <div class="container">
    <div class="titre-profile">
      <h2>My Journeys</h2>
    </div>
    <hr>
      <% @profile.bookings.each do |booking| %>
        <div class="reservation-items">
          <div class="row">
            <div class="house-item">
              <div class="col-xs-12 col-md-3">
                <div class="item-house">
                  <div class="item-house-image">
                    <%= cl_image_tag booking.house.photos[0].path %>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="house-details">
                  <div>
                    <p><%= booking.house.city %></p>
                    <p><%= booking.start_date%></p>
                    <p><%= booking.house.name%></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="reservation-status">
                <div>
                  <%case booking.status.downcase %>
                    <% when "pending" %>
                      <p class="status">Pending</p>
                    <% when "to be paid"  %>
                      <%= form_tag orders_path do %>
                        <%= hidden_field_tag 'house_id', booking.house_id %>
                        <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
                      <% end %>
                    <% when "paid" || "validates" %>
                      <p class="btn"><%= link_to  "End your journey",  pages_cancel_check_path, class: 'btn btn-primary' %></p>
                      <p class="btn"><%= link_to "Add a review", new_house_review_path(booking.house), class: 'btn btn-primary' %></p>
                    <% else %>
                      <p class="status"><%= booking.status.capitalize %></p>
                    <% end%>
                  </div>
                </div><!-- Fin de reservation status-->
              </div><!-- Fin du col -->
            </div>
          </div><!-- Fin de la row-->
        </div><!-- Fin de reservation-items -->
      <hr>
    <% end %>
  </div><!-- Fin du container -->
</section>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="Mypayments">

      <h2>My Payments</h2>
        <hr>
        <% if @customer %>
          <h3>Next Payment details</h3>
          <% if @upcoming_invoice%>
            <p>Next Payment Date <%= Time.at(@upcoming_invoice["next_payment_attempt"]).strftime("%m/%d/%Y") %></p>
            <p>Period : From <%= Time.at(@upcoming_invoice["period_start"]).strftime("%m/%d/%Y") %> to <%= Time.at(@upcoming_invoice["period_end"]).strftime("%m/%d/%Y") %></p>
            <p>Amount due €<%= @upcoming_invoice["amount_due"] / 100 %></p>
          <% else  %>
            <p>No further payments to come</p>
          <% end  %>

          <h3>Last Payments</h3>
          <% @orders.each do |order| %>
            <div>
              <p>Payment Date : <%= order.created_at.strftime("%m/%d/%Y") %></p>
              <p>Period : From <%= Time.at(JSON.parse(order.payment)["current_period_start"]).strftime("%m/%d/%Y") %> to <%= Time.at(JSON.parse(order.payment)["current_period_end"]).strftime("%m/%d/%Y") %></p>
              <p>State : <%= order.state.capitalize %></p>
            </div>
          <% end %>

          <h3>Stripe Customer Invoices</h3>
          <% @invoices.each do |invoice| %>
            <p><%= "Invoice number :  #{invoice.id} " %></p>
            <p><%= "Invoice Start Periode :  #{invoice.id} " %></p>
          <% end  %>
        <% else %>
          <div class="row profile_bio">
            <div class="col-xs-12">
              <p><strong>Too bad.</strong> It seems you didn't book your room yet! Don't lose time and check your next home <%= link_to "here", houses_path%> !</p>
            </div>

          </div>
        <% end  %>

      </div>
    </div>
  </div><!-- Fin de la Row-->
</div>







