
<div class="banner-profile" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1511970291/BannerImage_vp7iqa.jpg');">
  <div class="banner-profile-content">
    <%= cl_image_tag @profile.photo.path, class: "avatar-extra-large" %>
    <h1>Welcome <%= @profile.first_name %> !</h1>
    <p><%= link_to 'Edit my profile', edit_profile_path(@profile), class: 'btn btn-rounded btn-secondary' %></p>
  </div>
</div>

<div class="container">
<div class='row'>
  <div class="col-md-12">
    <div class="panel with-nav-tabs panel-success">
      <div class="panel-heading">

        <ul class="nav nav-tabs">
            <li class="active nav-item"><a href="#tab1success" data-toggle="tab" aria-expanded="true" class='nav-link'>My journeys</a></li>
            <li class=""><a href="#tab2success" data-toggle="tab" aria-expanded="false" class='nav-link'>My payments</a></li>
            <li class=""><a href="#tab3success" data-toggle="tab" aria-expanded="false" class='nav-link'>My profile</a></li>
            <li class=""><a href="#tab4success" data-toggle="tab" aria-expanded="false" class='nav-link'>Chat</a></li>
            <li class=""><a href="#tab4success" data-toggle="tab" aria-expanded="false" class='nav-link'>Door Management</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>
</div>

<div class="container padding-bottom-3x mb-2">
  <div class="row">
    <div class="col-md-12">
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab1success">
                  <div class="row">
                    <% if current_user.profile.bookings.first.nil? %>
                      <p>No booking yet</p>
                    <% else %>
                      <% current_user.profile.bookings.each do |booking|%>
                        <div class="booking-dashboard">
                          <p><%= cl_image_tag booking.house.photos[0].path , class: "photo-booking-profile" %></p>

                          <div class="booking-city">

                            <p><%= booking.house.city %></p>
                            <p><%= booking.start_date %></p>
                            <% if booking.status.downcase == 'pending' %>
                            <div class="iziToast"><p><%= booking.status%></p></div>
                            <% end %>
                            <% if booking.status.downcase == 'validates' %>
                            <div class="iziToast iziToast-success"><p><%= booking.status%></p></div>
                            <% end %>
                            <% if booking.status.downcase == 'canceled' %>
                            <div class="iziToast iziToast-danger"><p><%= booking.status%></p></div>
                            <% end %>

                          </div>

                          <div class="booking-house">
                            <p><strong><%= booking.house.name %></strong></p>
                            <% if booking.status.downcase == 'pending' %>
                              <div class="bouton-action">
                                <button class="btn btn-rounded btn-secondary to-pay" type="button">To be payed</button>
                                <button class="btn btn-rounded btn-secondary cancel" type="button">Canceled</button>
                              </div>
                            <% end %>
                            <% if booking.status.downcase == 'validates' %>
                              <div class="bouton-action">
                                <button class="btn btn-rounded btn-secondary to-pay" type="button">Denoncer mon bail</button>
                              </div>
                            <% end %>
                          </div>

                          <div class="booking-status">
                            <% if booking.status === "To be paid" %>
                              <%= link_to  "To be Paid",  houses_path  %>
                              <% elsif booking.status === "Paid"%>
                              <%= link_to  "End your journey",  houses_path  %>
                              <%= link_to 'Add a review', new_house_review_path(current_user)%>
                              <% else %>
                              <p><%= booking.status %></p>
                            <% end %>
                          </div><!-- Fin de booking-status -->

                        </div><!--Fin de booking-dashboard -->
                      <% end %>
                    <% end %>
                  </div> <!-- Fin de la Row -->
                </div> <!--Fin de tab-pane -->

              <!-- Changement d'onglet -->
                <div class="tab-pane fade" id="tab2success">
                  <p>Card Number</p>
                  <p>Expiry</p>
                  <p>Cryptogram</p>
                </div>
                <div class="tab-pane fade" id="tab3success">
                  <p><%= @profile.first_name %></p>
                  <p><%= @profile.last_name %></p>
                  <p><%= @profile.address %></p>
                  <p><%= @profile.city %></p>
                  <p><%= @profile.post_code %></p>
                  <p><%= @profile.country %></p>
                  <p><%= link_to 'Edit my profile', edit_profile_path(@profile), class: 'btn btn-rounded btn-secondary' %></p>
                </div>
                <div class="tab-pane fade" id="tab4success">
                  <p>Card Number</p>
                  <p>Expiry</p>
                  <p>Cryptogram</p>
                </div>

                <div class="tab-pane fade" id="tab5success">
                  <p>Card Number</p>
                  <p>Expiry</p>
                  <p>Cryptogram</p>
                </div>


            </div>
        </div>
    </div>
  </div>
</div>


