
<div class="banner-index-house" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1512565241/Luxembourg_Pont_Adolphe_wdj5oc.jpg');">
  <div class="titre-houses">
    <h1>LILLE</h1>
  </div>
</div>
<div class="container-flats">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card-flat-index">
        <%= render 'shared/card' %>
        <div class="info-1">
          <h4><strong>test</strong></h4>
          <p>1234€</p>
        </div>
        <div class="info-2">
          <p>Le Quartier Gourmet</p>
          <p>capacity: 10 persons</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card-flat-index">
        <%= render 'shared/card' %>
        <h5>test</h5>
        <p>1234€</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card-flat-index">
        <%= render 'shared/card' %>
        <h5>test</h5>
        <p>1234€</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card-flat-index">
        <%= render 'shared/card' %>
        <h5>test</h5>
        <p>1234€</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card-flat-index">
        <%= render 'shared/card' %>
        <h5>test</h5>
        <p>1234€</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card-flat-index">
        <%= render 'shared/card' %>
        <h5>test</h5>
        <p>1234€</p>
      </div>
    </div>
  </div>
</div>




