
<% title "Coliving in #{@house.name}" %>
<% description "See the details of this house" %>

<div class="caroussel-show">

        <%= render 'shared/caroussel2' %>
</div>

<div class="main-container">
  <div class="description-container">
    <div class="row">
      <div class=" col-xs-12 col-md-6">
        <div class="liste">
          <h1>Description</h1>
          <p><%= @house.description %></p>
        </div>
        <div class="capacity-restante">
          <p>Remaining Capacity: <%= @house.capacity - @bookings_house.count %></p>
        </div>
        <div class="liste">
          <h1>Price</h1>
          <p>€ <%= @house.price %></p>
        </div>
        <div class="liste">
          <h1>Capacity</h1>
          <p><i class="fa fa-users" aria-hidden="true"></i> <%= @house.capacity%></p>
        </div>
        <div class="liste">
          <h1>Amenities</h1>
          <i class="fa fa-paw" aria-hidden="true"></i>
          <i class="fa fa-wifi" aria-hidden="true"></i>
          <i class="fa fa-television" aria-hidden="true"></i>
          <i class="fa fa-shower" aria-hidden="true"></i>
        </div>
        <h1>Reviews</h1>
        <% @reviews = @house.reviews%>
        <% if @house.reviews %>
          <% @reviews.each do |review| %>
            <div class="message">
              <%= cl_image_tag review.profile.photo, class: "avatar-navbar"%>
              <div class="message-body">
                <p><strong><%=review.profile.city.capitalize%></strong></p>
                <p><%=review.created_at%></p>
              </div>
              <div class="message-body" >
                <p><strong><%= review.title_review%></strong></p>
                <p><%=review.content_review%></p>
              </div>
              <div class="message-status">
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>

  <div id="formhousebooking" class="col-xs-12 col-md-6 ">
      <%= render "shared/formshowhouse" %>
    </div>
</div>

<!-- Espace Biographie-->
<div id="biographies">
  <h3>Current Tenants</h3>
  <%= render "shared/biography" %>
</div>


<div class="map_show">
  <% @markers %>
  <div id="map" style="width: 100%; height: 250px;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
        handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
        }
        });
      <%end%>
    <% end %>
  </div>
</div>
