<% @booking = Booking.new %>

<%= simple_form_for [@house, @booking], class: 'login-box' do |f| %>
  <h4 class="margin-bottom-1x" style="border-bottom: 1px solid rgba(220,224,244,0.4); padding-bottom: 10px;">€<%= @house.price_cents.to_i / 100 %> / month</h4>
  <%= f.input :start_date, as: :date, html5: true, label: false %>
  <%= link_to 'CALL ME BACK !', contacts_path, class: 'btn btn-primary margin-bottom-none' %>
  <%= f.submit "I WANT TO BOOK IT !", class: "btn btn-danger margin-bottom-none" %>
<%end%>
