<div class="card">
  <%= link_to  house_path(house), class:"card-clic" do %>
    <%= cl_image_tag house.photos[0].path, class:"card-img-top" %>
  <% end %>
    <div class="card-body">
      <div class="bandeau-house">
        <div class="bandeau-house-ratings">
          <% house.capacity.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="bandeau-house-profiles">
          <div class="profiles-absolus">
          <% house.bookings.where(house_id: house).where(status: "pending").each do |booking| %>
            <%= cl_image_tag booking.profile.photo.path, class:"avatar-large" %>
          <% end %>
          </div>
        </div>
      </div>

      <h4 class="card-title"><%= house.name %></h4>
      <p class="card-text"><%= house.description.first(80) %>...</p>
        <div class="show-this-one">
        <%= link_to  house_path(house), class:"btn btn-primary btn-sm" do %>
          Show this one
        <% end %>
      </div>
    </div>
</div>
