<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right">
  <%= link_to "Houses", houses_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% if user_signed_in? %>
      <!-- Avatar with dropdown menu -->
      <% if current_user.profile.present? %>
        <%= link_to "Profile", profile_path(current_user.profile), class: "navbar-wagon-item navbar-wagon-link" %>
        <% if current_user.profile.bookings.present? && current_user.profile.bookings.last.status.downcase == "paid" && %>
          <% @house = House.find(current_user.profile.bookings.last.house_id) %>
          <% if @house.idlock.present? && @house.idbridge.present? && @house.ipaddress.present? %>
            <div class="flipswitch">
              <input type="checkbox" onclick='handleClick(this);' name="flipswitch" class="flipswitch-cb" id="fs" checked >
              <label class="flipswitch-label" for="fs">
                <div class="flipswitch-inner"></div>
                <div class="flipswitch-switch"></div>
              </label>
            </div>
            <%= link_to "open", open_house_path(@house), remote: true, id: "openDoor", class: "hidden" %>
            <%= link_to "close", close_house_path(@house), remote: true ,id: "closeDoor", class: "hidden" %>
          <% end%>
        <% end %>
<!-- Fin du master -->

      <% else %>
        <%= link_to "Profile", new_profile_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end  %>
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <% if current_user.profile && current_user.profile.photo.present? %>
              <%= cl_image_tag current_user.profile.photo.path, class: "avatar dropdown-toggle hidden-xs", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% else %>
              <%= cl_image_tag "http://res.cloudinary.com/dwkqph9as/image/upload/v1512050406/default_avatar_picture_zpo1in.png", class: "avatar dropdown-toggle hidden-xs", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% end  %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <% if current_user.profile %>
              <li>
                <%= link_to profile_path(current_user.profile) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "My Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to profile_path(current_user.profile) do %>
                  <i class="fa fa-credit-card"></i>  <%= t(".profile", default: "My Payments") %>
                <% end %>
              </li>
              <li>
                <%= link_to profile_path(current_user.profile) do %>
                  <i class="fa fa-clock-o"></i>  <%= t(".sign_out", default: "My Bookings") %>
                <% end %>
              </li>
            <% end %>

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <% else %>
        <!-- Login link (when logged out) -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>

  </div>
    <!-- Dropdown list appearing on mobile only -->



</div>

<script>
  function handleClick() {
    console.log();
    if (document.getElementById('fs').checked) {
      // close
      document.getElementById('closeDoor').click();
    } else {
      // open
      document.getElementById('openDoor').click();
    }
  }
</script>
