<div class="main_payment_new">
  <div class="container">
    <div class="containertitle" style="text-align: center; min-height: 50px; margin-top: 50px">

          <h1 >Well done! You are booking your room for: <%=  House.find(@order.house_id).name %></h1>

    </div>
    <div class="containerprof" style=" height: 20vh;" >
      <div style="text-align: center; padding: 50px;">
        <div class="row" >
          <div class="col-xs-12 col-md-12">
            <%= form_tag order_payments_path(@order) do %>
              <article>
                <label class="amount"  style=" font-size: 1.3em">
                  <span>Amount: <%= humanized_money_with_symbol(@order.amount.to_i / 100) %></span>
                </label>
              </article>
              <!--   # Commented for the lecture, remove comments. -->
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="Your new Home"
              data-email="<%= current_user.email %>"
              data-description="House <%= @order.house_id %>"
              data-amount="<%= @order.amount_cents.to_i / 100 %>"
              data-currency="<%= @order.amount.currency %>"></script>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
