<div class="containerprof" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1511970291/BannerImage_vp7iqa.jpg');">
  <div class="containerformprofile" style="text-align: center;">
    <div class="row" style=" height: 400px;">
      <div class="col-xs-12 col-md-12">
        <%= simple_form_for [@house, @review] do |f| %>
          <%= f.input :title_review %>
          <%= f.input :content_review %>
          <%= f.input :rating, collection: 0..5 %>
          <%= f.submit "add a review", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
