<div class="reviews_form">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="formulaire-reviews">
        <h2>Please, write your Review !</h2>

        <%= simple_form_for [@house, @review] do |f| %>
        <%= f.input :title_review, input_html: {style: 'height:35px;'}  %>
        <%= f.input :content_review  %>
        <%= f.input :rating, collection: 0..5, input_html: {style: 'height:35px;'}  %>
        <%= f.submit "add a review", class: "btn btn-primary bloc-abc" %>
          <% end %>
      </div>
      <p></p>
      <p></p>
    </div>

</div><!-- Fin de la row-->
</div>
</div>
